@model IEnumerable<TareaProgra1.Models.Tablas>


@{
    ViewData["Title"] = "Index";
}

<h1>Articulos</h1>

<p>
    <a asp-action="Create">Insertar Articulo</a>
   
    <form id="filtrarPorNombre">

        <input type="text" id="filtrador" name="strPorBuscar">
        <button type="button" id="botonFiltrarPorNombre"> FiltrarPorNombre </button>
    </form>

    <form id="filtrarPorCantidad">

        <input type="text" id="inputPorCantidad" name="strPorBuscar">
        <button type="button" id="botonFiltrarPorCantidad"> FiltrarPorCantidad </button>
    </form>

    <form id="filtrarPorClaseArticulo">
        <select id="menuClaseArticulo">
            @foreach (var item in ViewBag.ClaseArticulo)
            {
                <option>@item.Nombre</option>
            }
        </select>
        <button type="button" id="botonFiltrarPorClaseArticulo"> Filtrar Por Clase Articulo </button>
    </form>



</p>

<table class="table" id="tablaArticulos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClaseArticulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsActivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("TablaParcial", Model)
    </tbody>
</table>
<div>
    <a asp-action="Index">Refresh</a>
</div>

    <head>
        <title> Caja de Texto HTML</title>
    </head>

    <script>
        document.getElementById("botonFiltrarPorNombre").addEventListener("click", function () {
            var strPorBuscar = document.getElementById("filtrador").value;
            $.ajax({
                url: '/ArticuloEntities/filtrarPorNombre',
                type: 'POST',
                data: {strPorBuscar: strPorBuscar},
                success: function (response) {
                    $('#tablaArticulos tbody').html(response);
                    console.log("Función ejecutada con éxito:", response);
                },
                error: function (error) {
                    console.error("Error al llamar a la función:", error);
                }
            });
        });
    </script>

<script>
    document.getElementById("botonFiltrarPorCantidad").addEventListener("click", function () {
        var cantidadPorBuscar = document.getElementById("inputPorCantidad").value;
        $.ajax({
            url: '/ArticuloEntities/filtrarPorCantidad',
            type: 'POST',
            data: { cantidadPorBuscar: cantidadPorBuscar },
            success: function (response) {
                $('#tablaArticulos tbody').html(response);
                console.log("Función ejecutada con éxito:", response);
            },
            error: function (error) {
                console.error("Error al llamar a la función:", error);
            }
        });
    });
</script>

<script>
    document.getElementById("botonFiltrarPorClaseArticulo").addEventListener("click", function () {
        var claseArticuloPorBuscar = document.getElementById("menuClaseArticulo").value;
        $.ajax({
            url: '/ArticuloEntities/filtrarPorClaseArticulo',
            type: 'POST',
            data: { claseArticuloPorBuscar: claseArticuloPorBuscar},
            success: function (response) {
                $('#tablaArticulos tbody').html(response);
                console.log("Función ejecutada con éxito:", response);
            },
            error: function (error) {
                console.error("Error al llamar a la función:", error);
            }
        });
    });
</script>

</table>